<div class="row">

    <div class="col-6">
        <div class="card">
            <div class="card-body">
                <app-grafica-donas [data]="graficos.grafico1"></app-grafica-donas>
            </div>
        </div>
    </div>

    <div class="col-6">
        <div class="card">
            <div class="card-body">
                <app-grafica-donas [data]="graficos.grafico2"></app-grafica-donas>
            </div>
        </div>
    </div>

</div>
<div class="row">

    <div class="col-6">
        <div class="card">
            <div class="card-body">
                <app-grafica-donas [data]="graficos.grafico3"></app-grafica-donas>
            </div>
        </div>
    </div>

    <div class="col-6">
        <div class="card">
            <div class="card-body">
                <app-grafica-donas [data]="graficos.grafico4"></app-grafica-donas>
            </div>
        </div>
    </div>

</div>